
/*
.carousel-item {
	max-height: 550px;
}
.carousel-item > img {
		transform: translateY(-25%);
		 object-fit: cover;
}
body,#navbar-example2 {
	position: relative;
}*/

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;

}

.bg_sondage {
	background-attachment: fixed;
	background-size: cover;
	background-image: url(../img/bg2.jpg);
}

.bg_games {
	background-attachment: fixed;
	background-size: cover;
	background-image: url(../img/FondGris.jpg);
}

.bg1_image {
	background-attachment: fixed;
	background-size: cover;
	background-image: url(../img/bg1.jpg);
}

.bg2_image {
	background-attachment: fixed;
	background-size: cover;
	background-image: url(../img/bg2.jpg);
}

.bg3_image {
	background-attachment: fixed;
	background-size: cover;
	background-image: url(../img/bg3.jpg);
}
.contactform{
	width:auto;
	max-width:100%;
}
.contactform p{
	font-size: 18px;
	text-align: left;
}
.contactform_element {
	width: 50%;
	padding: 0.5%;
}
.contactform_element p {
	margin-bottom: 1%;
}
.contactform input{
	width: 100%;
}
.contactform textarea{
	width: 100%;
	height: 20%;
}
.text-box{
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 10px 20px;
  border: 1px solid #b7b7b7;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-size: 16px;
  color: rgba(0,142,198,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(252,252,252,1);
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.logo {
	/*position: relative;*/
	/*left:5vw;*/
	height: 100px;
	/*margin: 0.5%;*/
}


.active {
	color: #FFFFFF !important;
}
.background-image > img{
	position: fixed;
	/*top: 0px;*/
	left: 0px;
	width: auto;
	/*min-height: 100%;*/
	min-width: 100%;
	z-index: -1;

	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
}

.background-image-transparent	{
	opacity: 0;
}

.col-img img {
	width: 100%;
}

.col-text h2 {
	font-size: 3.5em;
	font-weight: 300;
}
.col-text p {
	font-size: 1.5em;
	font-weight: 200;
}

.margin {
	height: 10%;
}

section {
	margin-top: 5%;
	margin-bottom: 5%;
}
section > div {
	padding: 1%;
}

.col-img {
	width: 100%;
}

.material-primary {
	/*background-color: #ef5350; /* RED */
	/*background-color: #4fc3f7; /* BLUE */
	/*background-color: #fff176; /* YELLOW */
	background-color: #546e7a; /* GRAY */
	color:#ffffff;
}

.material-light {
	/*background-color: #ef5350; /* RED */
	/*background-color: #4fc3f7; /* BLUE */
	/*background-color: #fff176; /* YELLOW */
	background-color: #819ca9;	/* GRAY */
	color:#ffffff;
}
.material-dark {
	/*background-color: #ef5350; /* RED */
	/*background-color: #4fc3f7; /* BLUE */
	/*background-color: #fff176; /* YELLOW */
	background-color: #29434e;	/* GRAY */
	color:#ffffff;
}

.nav-item-big {
	color:#ffffff;
	font-size: 1.6em;
}

.quote-block {
    font-weight: 200;
	font-size: 2.5em;
	text-align: center;
	transform: translateY(10%);
	height: 90%;
}

.contact-block {
    font-weight: 200;
	font-size: 2.5em;
	text-align: center;
	/*transform: translateY(10%);*/
	height: 55%;
}

.container2 {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.force-center {
	position: absolute; left: 10; right: 10; text-align: center;
}

@media (min-width: 576px) {
	.container2 {
	 	max-width: 90%;
	}
}

@media (min-width: 1200px) {
	.container2 {
		max-width: 1140px;
	}
}

.arrow-wrapper {
	/*height: 100%;*/
	width: 100%;
	position: relative;
	bottom: -20%;
}

.arrow-wrapper .arrowimg {
	/*line-height: 60px;*/
	position: relative;
	/*height: 10%;*/
	bottom: 0vh;
	/*right: 47.75%;*/
	/*left: 47.75%;	*/
	width: 5%;
	cursor: pointer;
}
.arrow-wrapper .arrowtext {
	position: absolute;
	font-size: 4vh;
	margin:0;
	color: #000;
	bottom: 75%;
	left: 20%;
	right: 20%;
	text-align: center;
	/*transform: translate(-70%,0);*/
}

.bounce {
	animation-iteration-count: infinite;
	animation-duration: 1.5s;
	animation: bounce 3.6s ease infinite;
	transform-origin: 50% 50%;
}

@keyframes bounce {
	0% {
		transform: translateY(0);
	}
	5.55556% {
		transform: translateY(0);
	}
	11.11111% {
		transform: translateY(0);
	}
	22.22222% {
		transform: translateY(-15px);
	}
	27.77778% {
		transform: translateY(0);
	}
	33.33333% {
		transform: translateY(-15px);
	}
	44.44444% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(0);
	}
}


/**
 * Demo Styles
 */

html {
	height: 100%;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}
footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	background-color: #efefef;
	text-align: center;
	height: 80px;
}
